h2,h3{

    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor>p{
    color:lightcoral
}

nav .contenedor{

    color: steelblue;
}


.contenedor a{

    text-decoration: none;
    color: firebrick;
}

.contenedor>a{
    font-size: 20px;
    font-weight: bold;
}

h2+p{

    color: gold;
}

h3~p{
    color: indigo;
}