@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
    padding: 60px 0;
}


.container{
    width: 90%;
    margin: 0 auto;
    background: #fff;
    max-width: 1200px;
    box-shadow: 0 2px 20px rgba(0,0, 0, .1);
    border-radius: 10px;
}
