*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: salmon;
    font-family: Arial, Helvetica, sans-serif;
}

.card{

    width: 300px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    box-shadow: -20px -20px 0px 0px #fb968b;
    border-radius: 10px;
}

.card__title{
   /* border-bottom: 3px solid salmon; */
   padding-bottom: 7px;
   margin-bottom: 10px;
   text-align: center;
}

p::selection{
    background:crimson ;
    color: #fff;
}

/* p::first-line{

color: green;
font-weight: bold;
font-size: 2rem;

} */

/* .card__title::first-letter{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 20px;
} */

input[type=text]{
    margin-left: 20px;
    padding: 15px 3px;
    background: crimson;
    color: #fff;
    border:none;
    border-bottom: 4px solid #fff;
    outline: none;
}

input[type=text]::placeholder{
    color: #fff;
}

/*
<element>

::before
Conteneido
::after
</element>
*/
/* 
.card__text::before{

    content: "Hola ";


}

.card__text::after{

    content: " Hector";
} */




.card__title::after,
.card__title::before
{
content: '';
height: 3px;
display: block;
width: 100%;
background: salmon;

}

ul{
    counter-reset: contador;
}

li{
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}
li::before{

    content: counter(contador);
    counter-increment: contador;
    background: salmon;
    width: 30px;
    height: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}