
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    display: block;
    width: 400px;
    margin: 30px auto;
    /* box-shadow: 8px 8px 12px crimson; */
    box-shadow: 3px 3px 10px  rgba(0,0,0, .75);

}

.body{

    background: #fafafa;
}

.box{

    width: 100px;
    height: 100px;
    background: steelblue;
    margin-left: 30px;
    /* box-shadow: h-offset v-offset blur spread color; */
    /* box-shadow: 100px 100px 0 0 crimson,
                100px 0 darkblue,
                0 100px darkgreen; */

    /* box-shadow: 3px 3px 12px crimson; */
}