
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    display: block;
    width: 400px;
    margin: 30px auto;
}

.box{

    width: 100px;
    height: 100px;
    background: steelblue;
    margin-left: 30px;
    /* box-shadow: h-offset v-offset blur spread color; */
    box-shadow: 10px 10px;
}