*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 300vh;
    background: red;
}

.container{
    width: 450px;
    height: 530px;
    margin: 20px auto;
    border: 5px solid crimson;
    /* position: relative; */
}

.box{
    background: steelblue;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
}

.static{

    position: static;
}

.relative{
    background: crimson;
    position: relative;
    /* top:;
    left:;
    right:;
    bottom:; */
}
.absolute{
    background: purple;
    position: absolute;
    margin: 0;
    left: 0px;
    right: 0px;


    /* top:30%; */
    /* left: 40px; */
    /* z-index: 10; */
}