*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: space-evenly;
    /* background-image: url(img/textura.png); */
}
.container{
    width: 70%;
    height: 300px;
    margin: 30px auto;
    /* background: rgb(100,100,250); */
    background-color: rgb(100,100,250);
    background-image: url(./img/spidy.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;


}

.atachment{
    width: 40%;
    height: 400px;
    margin-top: 40px;
    background-image: url(img/img-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.fixed{
   background-attachment: fixed; 
}

.title{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.space{

    height: 3000px;

}