@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    /* background: #9ab1f6; */
    font-family: 'Raleway', sans-serif;

}

.card{

    /* background-color: #2a265f ; */
    background-image: linear-gradient(#2a265f80,#2a265fb4),url(background.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;  
    color: #fff; 
    margin: 40px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);

}


.title{

    font-size: 30px;
    border-bottom: 3px solid #fff;
    padding: 7px;
    margin-bottom: 30px;
}

.text{

    font-weight: 300;
    margin-bottom: 15px;
    line-height: 2;
    text-transform: capitalize;
}
.bold{
    font-weight: bold;
}

.cta{

    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 15px 25px;
    border-radius: 3px;
}













.container{

    background-color: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}


.h1{

    text-align: inherit;
    font-weight: 700;
    font-style: italic;

   
}

.copy{
    padding: 20px 10px;
    font-weight: 300;
    /* font-style: oblique; */
    /* text-align: justify; */
    /* letter-spacing: 20px ; */
    /* word-spacing: -1px; */
    /* text-shadow: 3px 3px 6px red; */
    /* text-transform: capitalize; */
    /* line-height: 70px; */
    /* font: ; */

    /* font-variant: small-caps; */
}

.img{
    display: inline;
    width: 250px;
}

/* .bold{

    color: crimson;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
} */
.enlace{

    color: crimson;
    display: inline-block;
    /* text-decoration: line style color; */
    /* text-decoration-line:line-through overline underline ; */
    /* text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: crimson; */
    text-decoration: none;
    border: 1px solid;
    padding: 10px 25px;
}
input{

    font-size: 20px;
    font-family: inherit;
}